<div class="base-component">
  <!-- header属性投影位置 -->

  <ng-content select="[header]"></ng-content>

  <p>子组件默认投影开始</p>
  <!-- 默认投影位置 -->
  <ng-content></ng-content>
  <p>子组件默认投影结束</p>

  <!-- 属性选择投影位置 -->
  <!-- fotter属性投影位置 -->
  <ng-content select="[footer]"></ng-content>

  <!-- 条件渲染容器 -->

  <div *ngIf="showFlag">
    <ng-container [ngTemplateOutlet]="content.templateRef">
      <p>条件渲染容器默认内容</p>
    </ng-container>
  </div>
</div>

<style>
  .base-component {
    padding: 20px;
    background: green;
    color: white;
    margin: 10px 0;
  }
</style>
